# email username
# i.e. email@email.com
EMAIL_FROM_EMAIL="email@email.com"
EMAIL_FROM_NAME="Person Personson"

# email password
# (it is better to use MFA and use
# an app password to avoid getting your email locked out)
# i.e. $uper$ecretP@ssword
EMAIL_PASSWORD="1234567890"


# CC this person
# i.e. email@email.com
CC_PERSON="boss@email.com"
# i.e. John
CC_NAME="Big Bossman"

# email server config
# it'll be something like this:
# smtp.email.com
SMTP_HOST="smtp.email.com"
# 587, usually
SMTP_PORT=587
